<!doctype html>
<html>
  <head>
    <title>List <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopData.shopName%> Shop</h1>
    <p>Here are the books that we sell:</p>
    <ul>
        <% for(let i = 0; i < availableBooks.length; i++){ %>
            <li><%=availableBooks[i].name%>, £<%=availableBooks[i].price%></li>  
        <% } %>
    </ul>
  </body>
</html>